# image+ config file syntax:
# offset, file,      size, /path/fname, [pad_value]
# offset, data,      size, W0, W1, W2, ...Wn
# offset, padding,   size, padding value
# offset, crc32,     size, start_addr, end_addr
# offset, crc16,     size, start_addr, end_addr
# offset, rchecksum, size, start_addr, end_addr
#@!/image+/config
0x00000000, file,    0x007FFFC0, ../input/image.ub, 0xFF
0x007FFFC0, data,    4,          0x00694C4C, 0x00000001, 0xFFFFFFFF, 0xFFFFFFFF
0x007FFFD0, padding, 4,          0xFFFFFFFF
0x007FFFE0, crc32,   8,          0x00000000, 0x007FFFDF
#@end
